<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>User Dashboard</title>
</head>
<h1>Jason's Arcade</h1>




@{
    DateTime Current = DateTime.Now;
<div class="flex">
    <div class="left">
@Current.ToString("hh:mm tt")
    </div>
 <div class="right">
<a href="/">Logout</a>
    </div>
</div>
   
}
<h3>Welcome @ViewBag.ThisUser.Username!</h3>
<body class="p-3 mb-2 bg-dark text-white">
    
<div class="d-flex p-2">
    <div class="navleft" style="width: 25%;">
        <a href="/Game/@ViewBag.ThisUser.userId"><button  class="btn-success btn">New Game</button></a>
    </div>
<div class="d-flex justify-content-center" style="width: 75%;">
    <ul style="width: 100%;">
        @{
            if(ViewBag.AllGamesCount != 0)
            {
                @foreach(var game in ViewBag.AllGames)
                {
                        var list = ((IEnumerable<dynamic>)game.Authors);
                        var likes = ((IEnumerable<dynamic>)game.Likes);
                        var count = list.Count();
                        //var count_L = likes.Count();
                        //var likes_count = likes.Count();
                    <table style="width: 100%;" class="table">
                        <thead  class="p-3 mb-2 bg-dark text-white">
                    <tr>
                        <th style="text-align: center;width: 25%">Image</th>
                        <th style="text-align: center;width: 25%">Title</th>
                        @* <th>Short Description</th> *@
                        <th style="text-align: center;width: 25%">Likes</th> 
                        <th style="text-align: center;width: 25%">Action</th>
                    </tr>
                    </thead>
                    <tr>
                        <td style="text-align: center;width: 25%">
                            @{
                            if(@game.Imagename != null){
                                <img style="width: 100px;height: 100px" class="resize" src="/img/@game.Imagename" alt="Game Image">
                            }
                        }

                        </td>
                        <td style="text-align: center;width: 25%"><p class="p-3 mb-2 bg-dark text-white">@game.Title</p>
                            <a href="/viewgame/@game.GameId/@ViewBag.ThisUser.userId"><button  class="btn btn-info">View Game</button></a>
                        </td>
                        @* <td>@l.Description</td> maybe images can go in here *@
                        <td  style="text-align: center;width: 25%" class="p-3 mb-2 bg-dark text-white">@count</td>
                        <td  style="text-align: center;width: 25%">
                            @{
                            var a = ((IEnumerable<dynamic>)game.Authors).Any(r => r.UserId == @ViewBag.ThisUser.userId);

                            if(game.UserId == ViewBag.ThisUser.userId)
                            {
                                <a asp-action="RSVP" asp-route-gameId="@game.GameId" asp-route-userId="@ViewBag.ThisUser.userId" asp-route-status="delete"><button style="margin-top: 30px;" class="btn-danger btn">Delete</button></a>
                                <a href="/@game.GameId/@ViewBag.ThisUser.userId/edit"><button style="margin-top: 30px;" class="btn-warning btn">Edit</button></a>
                            }
                             else if(a)   @*(l.Associations.Any(r => r.UserId == ViewBag.ThisUser.UserId)) *@
                            {
                                <a  asp-action="RSVP" asp-route-gameId="@game.GameId" asp-route-userId="@ViewBag.ThisUser.userId" asp-route-status="remove"><button style="margin-top: 30px;" class="btn-light btn">Remove Like</button></a>
                            }
                            else
                            {                                
                                <a asp-action="RSVP" asp-route-gameId="@game.GameId" asp-route-userId="@ViewBag.ThisUser.userId" asp-route-status="add"><button style="margin-top: 30px;" class="btn-light btn">Like</button></a>
                            }
                            }
                        </td>
                    </tr>
                    </table>
                } 
            }
            else
            {
                <p>No Games Here.</p>
            }
        }
    
    </ul>
</div>
</div>
</body>

