@model Game
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>View Game</title>
</head>

<html>
<body class="p-3 mb-2 bg-dark text-white">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<a href="/dashboardredirect/@ViewBag.ThisUser.userId">Dashboard</a>
<a href="/">Logout</a>


<div id="View">
<h1 class="text-center">@ViewBag.Game.Title
</h1>
<br>
<p class="text-center">@{
    if(@ViewBag.Game.Imagename != null){
        <img style="width: 800px; height: 800px" class="basesize" src="/img/@ViewBag.Game.Imagename" alt="Game Image">
    }
}
</p>
<h4>
<br>Description:</h4>
<p>@ViewBag.Game.Description</p>
<h2>Created on: @ViewBag.Game.CreatedAt</h2>
<h2>Updated on: @ViewBag.Game.UpdatedAt</h2>
<h3>Likes:
    @{
        bool f = new bool();
        f = false;
        if(ViewBag.PlayersCount != 0 && ViewBag.PlayersCount < 5){
    @foreach(var player in ViewBag.Players)
    {     
        @if(player.User.userId == @ViewBag.Game.UserId)
        {
            <li class="text-danger">@player.User.FirstName (Author)</li>
        }else if(player.User == ViewBag.ThisUser){
            <li class="text-success">@player.User.FirstName (You)</li>
            f = true;
        }
        else{
            <li>@player.User.FirstName </li>
        }
    }
        }else if(ViewBag.PlayersCount == 0){
            <h3>No likes :(</h3>
        }else{
            @ViewBag.PlayersCount
            <br>
        }
        
       
       @if(f == true){
            <a asp-action="RSVP" asp-route-gameId="@ViewBag.Game.GameId" asp-route-userId="@ViewBag.ThisUser.userId" asp-route-status="remove"><button  class="btn-light btn">Remove Like</button></a>
    <br>    <br>
       }else{
           <a asp-action="RSVP" asp-route-gameId="@ViewBag.Game.GameId" asp-route-userId="@ViewBag.ThisUser.userId" asp-route-status="add"><button  class="btn-light btn">Like</button></a>
    <br>
       }
    
    
    @* <a asp-action="RSVP" asp-route-gameId="@ViewBag.Game.GameId" asp-route-userId="@ViewBag.ThisUser.userId" asp-route-status="comment">Comment</a> *@
    }
    <br>
    <form asp-action="createcomment" method="post" enctype="multipart/form-data">

    <div class="container">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-md-12">
                <textarea asp-for="Comment" class="form-control" placeholder="Add public comment" cols="30" rows="3"></textarea>
                <button  class="btn-success btn" style="float: right;margin-top: 15px">Add Comment</button>
            </div>
        </div>
    </div>
    </form> 

        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="userComments">
                    <div class="comment">                      
                        
                            @{
                                if(ViewBag.CommentsCount != 0){
                            @foreach(var comment in ViewBag.AllC)
                            {       
                                <div class="p-3 mb-2 bg-secondary text-white">          
                                <div class="userComment">               
                                <p>"@comment.comment"</p> 
                                </div>
                                @if(ViewBag.ThisUser.FirstName == comment.name){
                                    <a asp-action="RSVP" asp-route-commentId="@comment.CommentId" asp-route-gameId="@comment.GameId" asp-route-userId="@ViewBag.ThisUser.userId" asp-route-status="com_delete"><button class="btn-danger btn" style="float: right;margin-top: -55px">Delete</button></a>
                                }
                                <div class="user"><span class="time"></span><p style="text-align: right; text-style: italic;font-size:12pt" class="text-right"><i>Written by @comment.name on: <br>@comment.CreatedAt.ToString("MMMM dd, yyyy hh:mm tt")</i></p></div>
                                </div>
                                
                            }
                                }else{
                                    <h3>No comments :(</h3>
                                }
                            }                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</h3>
</div>
</body>
</html>


    

